html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  width: 100%;
  display: block;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
  text-align: center;
}

h1 {
  font-size: 40px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  text-align: center;
  color: #000;
}

h2 {
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}

p {
  color: #000;
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.wrapper {
  max-width: 1140px;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (200px)[3];
      grid-template-columns: repeat(3, 200px);
  -ms-grid-rows: (200px)[3];
      grid-template-rows: repeat(3, 200px);
}

.gridItem {
  border: 2px solid #000;
  margin: 20px;
  border-radius: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: contain;
  -webkit-filter: grayscale(70%);
          filter: grayscale(70%);
}

.gridItem:hover, .gridItem:focus-within {
  -webkit-filter: grayscale(0) contrast(125%);
          filter: grayscale(0) contrast(125%);
  -webkit-box-shadow: 0px 0px 50px 25px #2c2c2c;
          box-shadow: 0px 0px 50px 25px #2c2c2c;
  cursor: pointer;
  margin: 10px;
}

.gridItem:hover h2, .gridItem:focus-within h2 {
  display: none;
}

.gridItem:active {
  margin: 25px;
}

.gridItem h2 {
  color: white;
  text-shadow: 5px 5px 5px #2c2c2c;
}

.southside {
  background-image: url("../images/southSide.jpeg");
}

.bangladesh {
  background-image: url("../images/bangladesh.jpeg");
}

.charlieHeat {
  background-image: url("../images/charlieHeat.jpeg");
}

.davidBanner {
  background-image: url("../images/davidBanner.png");
}

.daytrip {
  background-image: url("../images/daytrip.jpeg");
}

.djMustard {
  background-image: url("../images/djMustard.png");
}

.donCannon {
  background-image: url("../images/donCannon.jpeg");
}

.drummaBoy {
  background-image: url("../images/drummaBoy.jpeg");
}

.justBlaze {
  background-image: url("../images/justBlaze.jpeg");
}

.metroBoomin {
  background-image: url("../images/metroBoomin.jpeg");
}

.mikeWill {
  background-image: url("../images/mikeWillMadeIt.jpeg");
}

.murdaBeatz {
  background-image: url("../images/murdaBeatz.jpeg");
}

.sonnyDigital {
  background-image: url("../images/sonnyDigital.jpeg");
}

.tayKeith {
  background-image: url("../images/tayKeith.jpeg");
}

.youngChop {
  background-image: url("../images/youngChop.jpeg");
}

.harryFraud {
  background-image: url("../images/harryFraud.jpeg");
}

.bobbyJohnson {
  background-image: url("../images/bobbyJohnson.jpeg");
}

.darkChild {
  background-image: url("../images/darkChild.jpeg");
}

.jahlilBeats {
  background-image: url("../images/jahlilBeats.jpg");
}

.londonOnDaTrack {
  background-image: url("../images/londonOnDaTrack.jpeg");
}

.maalyRaw {
  background-image: url("../images/maalyRaw.jpeg");
}

.nitti {
  background-image: url("../images/nitti.jpeg");
}

.pierreBourne {
  background-image: url("../images/pierreBourne.jpeg");
}

.quay {
  background-image: url("../images/quay.jpeg");
}

@media (max-width: 600px) {
  .wrapper {
    width: 80%;
    margin: 0 auto;
  }
  .container {
    -ms-grid-columns: (200px)[2];
        grid-template-columns: repeat(2, 200px);
    -ms-grid-rows: (200px)[3];
        grid-template-rows: repeat(3, 200px);
  }
  .gridItem {
    display: none;
  }
  .gridItem:nth-child(-n+12) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* Landscape phones and down */
