body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 26px;
    color: grey;
    text-transform: uppercase;
    animation: change-background 10s ease-in-out infinite;
}

h1 {
    font-size: 100px;
    line-height: 80px;
}

h2 {
    font-size: 60px;
    line-height: 50px;
}

h3 {
    font-size: 40px;
}

i {
    font-size: 50px;
}

a {
    text-decoration: none;
}

a:hover {
    color: whitesmoke;
}

@keyframes change-background {
  0% {
    background: lightyellow;
  }
  25% {
      background: lightpink;
  }
  50% {
    background: lightblue;
  }
  75% {
      background: lightgreen;
  }
  100% {
    background: lightyellow;
    }
}