.blm {
	.wrapper {
		width: 60%;
	}
	ul {
		justify-content: left;
		flex-direction: column;
		flex-wrap: nowrap;
	}
	li {
		padding: 10px;

		&:hover {
			font-weight: bold;
		}
	}
}

.home {
	padding: 20px;
	display: block;
	float: right;
}
