.blm {
	min-height: 80vh;

	div {
		// margin: 100px auto;
	}
	ul {
		justify-content: left;
		flex-direction: column;
		// flex-wrap: nowrap;
	}
	li {
		padding: 10px;

		&:hover {
			font-weight: bold;
		}
	}
}
