.header {
	width: 60vw;
	margin: 0 auto;
	position: relative;
}

.intro {
	position: absolute;
	top: 0;
	background-color: rgba(255, 255, 255, 0.6);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0 50px;
}
