#list {
	list-style: none;
	text-align: center;
	@include flexbox();

	h3:hover {
		font-weight: bold;
	}

	div {
		@include flexbox();
		// padding-top: 100px;
	}
}
#list h3
// #list .gallery-item
{
	// opacity: 0;
	// animation: fadeIn 1s ease-in-out both;
}
// home page fade in

#list h3:nth-child(2) {
	// animation-delay: 1s;
}
#list h3:nth-child(3) {
	// animation-delay: 2s;
}

#list div:nth-child(4) {
	// animation-delay: 4s;
}
// #list li:nth-child(5) {
// 	animation-delay: 4s;
// }

// galllery fade in
// #list .gallery-item:nth-child(2) {
// 	animation-delay: 1.5s;
// }
// #list .gallery-item:nth-child(3) {
// 	animation-delay: 2.5s;
// }

// #list .gallery-item:nth-child(4) {
// 	animation-delay: 3.5s;
// }
// #list .gallery-item:nth-child(5) {
// 	animation-delay: 4.5s;
// }

// @keyframes fadeIn {
// 	from {
// 		opacity: 0;
// 		transform: translate3d(0, -20%, 0);
// 	}
// 	to {
// 		opacity: 1;
// 		transform: translate3d(0, 0, 0);
// 	}
// }
