.projects,
.progress {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.gallery-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.gallery {
	width: calc(25% - 20px);
	margin: 10px;
	height: 500px;
	border-radius: 20px;
}

.progress {
	text-align: center;
	.overlay {
		color: white;
		a {
			text-decoration: underline;
		}
	}
}

.video {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: -100;
	background-size: contain;
	overflow: hidden;
	margin: 0 auto;
	padding-top: 10%;
}

.overlay {
	opacity: 0;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	transition: ease-in-out 0.8s;
	border-radius: 20px;
	padding: 10px 15px;

	p,
	i {
		text-align: center;
	}

	&:hover {
		opacity: 100%;
	}

	img {
		width: 100px;
	}

	a {
		padding: 10px;
		margin: 10px;
		&:hover {
			color: white;
		}
	}

	h4 {
		margin: 0 30px;
	}
}

.tools {
	padding: 10px 0;
}

.overlay1 {
	background-color: rgba(29, 120, 225, 0.9);
}

.overlay2 {
	background-color: rgba(63, 191, 127, 0.9);
}

.overlay3 {
	background-color: rgba(244, 242, 122, 0.9);
}

.overlay4 {
	background-color: rgba(191, 63, 63, 0.9);
}

.overlayWIP1 {
	background-color: rgba(0, 0, 0, 0.6);
}
