.projects {
	display: flex;
	flex-wrap: wrap;
}

.gallery {
	width: 50%;
	border: 1px solid black;
	height: 300px;
}

.one {
	// background-image: url('/assets/soundboard.gif');
	// object-fit: fill;
	// background-position: center;
	// background-repeat: no-repeat;
}

.two {
	background-color: lightpink;
}

.three {
	background-color: lightgreen;
}

.four {
	background-color: lightsalmon;
}