body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: black;
    animation: change-background 15s ease-in-out infinite;
    font-family: 'Karla', sans-serif;
}

h1 {
    font-size: 5vw;
    line-height: 80px;
    text-transform: uppercase;
}

h2 {
    font-size: 1.5vw;
    line-height: 5vw;
    text-transform: lowercase;
}

h3 {
    font-size: 4vw;
    // color: white;
    text-align: center;
    padding: 10px 0;
}


i {
    font-size: 30px;
    padding: 10px;
}

section {
    margin: 20px 0;
    height: 70vh;
}

li {
    list-style: none;
}

ul {
    display: flex;
    justify-content: center;
}

span, a {
    &:hover {
        cursor: pointer;
    }
}


.hidden {
    display: none;
}
.player i {
    font-size: 24px;
}

a {
    text-decoration: none;
    border: 1px solid transparent;
    padding: 10px;
    color: black;
}


.player span {
    border-bottom: 1px solid #333 ;
}


.comingSoon {
    color: white;
}

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

// @keyframes change-background {
//     0% {
//     background: lightyellow;
//     }
//     25% {
//         background: lightpink;
//     }
//     50% {
//     background: lightblue;
//     }
//     75% {
//         background: lightgreen;
//     }
//     100% {
//     background: lightyellow;
//     }
// }