.highlights {
	@include flexbox();
	flex-wrap: wrap;
}

.skills {
	display: flex;
	flex-wrap: wrap;
	width: 70%;
	padding: 50px 0;

	li {
		margin: 8px;
	}

	i {
		@include font-size(1.6);
		padding: 5px;
		margin: 10px;
	}

	p {
		@include font-size(0.5);
		text-align: center;
		text-transform: uppercase;
	}
}
