.intro {
	display: flex;

	.intro-image {
		// width: 30%;
		flex-grow: 1;
		// flex-shrink: 1;
		// width: 200px;
		// border: 1px solid black;
	}

	.intro-text {
		// width: 70%;
		flex-grow: 2;
		// flex-shrink: 0;
	}

	a {
		text-decoration: underline;
	}
}

.top {
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 1000;
	display: flex;
	flex-direction: column;

	p {
		font-size: .8rem;
		text-align: center;
	}
}

.chevron {
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.top, .chevron {
		i {
		font-size: 100px;
	}
}

.fa-chevron-down {
    display: inline-block;
    position: relative;
	animation: bounce 2s infinite linear;
	animation-delay: 2s;
}

@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}