@media (max-width: 900px) {
	.header-container {
	display: flex;
	flex-direction: column;
	}

	.menu {
		position: static;
		text-align: right;
	}
}

@media (max-width: 800px) {
	.gallery {
		width: 100%;
	}

	.liveLink {
		display: flex;
	}

	.gallery-container, .liveLink {
		flex-direction: column;
	}

	.intro {
		flex-direction: column;

		.intro-image {
		width: 40%;
		margin: 0 auto;

		}

		.intro-text {
			width: 100%;
		}
	}
}

@media only screen and (max-width: 768px) {
		.gallery, .overlay {
		border-radius: unset;
		margin: 0 auto;
		opacity: 100%;
	}

	.overlay1, .overlay2, .overlay3, .overlay4 {
		background-color: rgba(255,255,255, 0.7);
	}

	.overlay {
		a{
			&:hover {
				text-decoration: underline;
			}
		}
	}

}
@media (max-width: 700px) {

	.contactInfo {
		flex-direction: column;
	}

	.contactForm, .socialsText, .skills {
		width: 100%;
	}

}

@media only screen and (max-width: 500px) {
	.top {
	display: none;
	}

}

@media (max-width: 400px) {
	.wrapper {
		width: 90%;
	}

}