// .music {
// 	.wrapper {
// 		width: 70%;
// 	}

// 	p {
// 		padding: 15px 0;
// 	}

// 	span {
// 		text-decoration: underline;
// 	}

// 	h5 {
// 		padding: 50px 0;
// 	}
// }

.shows {
	margin: 25px 0;
}

.featured {
	width: 60vw;
	margin: 0 auto;

	p {
		text-align: initial;
	}
}

.player {
	i {
		font-size: 1rem;
	}
}
