.music {
	.wrapper {
		width: 70%;
	}

	p {
		padding: 15px 0;
	}

	span {
		text-decoration: underline;
	}

	strong {
		font-size: 1.4rem;
	}

	h5 {
		padding: 50px 0;
	}
}

.featured {
	margin: 50px auto;
}

.player {
	i {
		font-size: 1rem;
	}
}
