@media (max-width: 600px) {
	.wrapper {
		width: 80%;
		margin: 0 auto;
	}

	.container {
		grid-template: repeat(3, 200px) / repeat(2, 200px);
	}

	.gridItem {
		display: none;
	}

	.gridItem:nth-child(-n+12) {
		display: flex;
	}
}

@media (max-width: 380px) {
	.container {
	grid-template: repeat(3, 180px) / repeat(2, 180px);
	}

}