@mixin font($size) {
    font-size: $size * 1px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    }

@mixin grid {
    width: 200px;
    height: 200px;
    padding: 20px;
    }

@mixin bg($url) {
    background-image: url($url);
}
