// // COLOURS
$accent: #2c2c2c;
$secondary: white;
$primary: #000;

// $primary: #85c7f2;
// $secondary: #dbdbdb;
// $accent: #4c4c4c;

body {
    background-color: whitesmoke; 
    text-align: center;
}

h1 {
    @include font(40);
    text-align: center;
    color: $primary;
    // margin: 0;
}

h2 {
    @include font(24);
}

p {
    color: $primary;
    @include font(14);   
    text-transform: uppercase;

}