// // COLOURS
$accent: #2c2c2c;
$secondary: white;
$primary: #000;

body {
    background-color: whitesmoke; 
    text-align: center;
}

h1 {
    @include font(40);
    text-align: center;
    color: $primary;
    margin-top: 5px;
    margin: 0;
}

h2 {
    @include font(24);
}

p {
    color: $primary;
    @include font(16);   
    text-transform: uppercase;
}

span, a {
    color: $primary;
    @include font(12);   
    text-transform: uppercase;
}

a {
    text-decoration: underline;
}