@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  width: 100%;
  display: block;
}

* {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.5rem;
  font-weight: 400;
  color: black;
  font-family: "Roboto", sans-serif;
  background: #e1e1e1;
}

h1 {
  font-size: 4.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 3.75rem;
  line-height: 90%;
}

h3 {
  font-size: 1.95rem;
  padding: 10px 0;
  word-wrap: break-word;
}

h2,
h3,
h4,
h5 {
  font-weight: 300;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.65rem;
  padding: 10px 0;
}

h1,
h2,
h3,
h4,
span,
footer,
p {
  text-align: center;
}

i {
  font-size: 2rem;
  padding: 10px;
}

i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.fa,
.fab {
  display: inline;
}

section {
  overflow: hidden;
}

footer a {
  font-size: 1rem;
}

.projects,
.highlights,
.contact {
  margin-top: 100px;
}

li {
  list-style: none;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

a:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

video,
img {
  width: 100%;
}

nav a {
  padding: 50px;
}

.code,
.blm {
  padding: 100px 0;
}

footer {
  background-color: whitesmoke;
  padding: 10px 0;
}

#list {
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#list h3:hover {
  font-weight: bold;
}

#list div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  display: inline-block;
  padding: 0.5rem;
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}

a:before {
  content: "";
  width: 100%;
  height: 5px;
  background: #ff8273;
  z-index: -1;
  position: absolute;
  bottom: -1px;
  left: 0;
}

a:active {
  color: #ff8273;
}

.wrapAround a:hover:before {
  -webkit-animation: wrapAround 3s ease-out infinite;
          animation: wrapAround 3s ease-out infinite;
}

@-webkit-keyframes wrapAround {
  0% {
    background: #ff8273;
    height: 2px;
  }
  5% {
    background: -webkit-gradient(linear, left top, right top, from(#ff8273), to(black));
    background: linear-gradient(to right, #ff8273, black);
  }
  25% {
    height: 2px;
    width: 2px;
  }
  30% {
    background: -webkit-gradient(linear, left top, right top, from(#ff8273), to(black));
    background: linear-gradient(to right, #ff8273, black);
  }
  50% {
    height: 100%;
    width: 2px;
  }
  55% {
    background: #ff8273;
    opacity: 0.4;
    filter: alpha(opacity=40);
  }
  75% {
    height: 100%;
    width: 100%;
    opacity: 0.6;
    filter: alpha(opacity=60);
  }
  100% {
    height: 2px;
    width: 100%;
  }
}

@keyframes wrapAround {
  0% {
    background: #ff8273;
    height: 2px;
  }
  5% {
    background: -webkit-gradient(linear, left top, right top, from(#ff8273), to(black));
    background: linear-gradient(to right, #ff8273, black);
  }
  25% {
    height: 2px;
    width: 2px;
  }
  30% {
    background: -webkit-gradient(linear, left top, right top, from(#ff8273), to(black));
    background: linear-gradient(to right, #ff8273, black);
  }
  50% {
    height: 100%;
    width: 2px;
  }
  55% {
    background: #ff8273;
    opacity: 0.4;
    filter: alpha(opacity=40);
  }
  75% {
    height: 100%;
    width: 100%;
    opacity: 0.6;
    filter: alpha(opacity=60);
  }
  100% {
    height: 2px;
    width: 100%;
  }
}

header ul,
footer ul {
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-transform: uppercase;
}

header a:hover,
footer a:hover {
  text-decoration: underline;
}

header .active,
footer .active {
  font-weight: bold;
}

/* header */
.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 490px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */
@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

#dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

#dropdown:hover .dropdown-content {
  display: block;
}

.select-css {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 50%;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  -webkit-box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.select-css:hover {
  border-color: #888;
}

.select-css:focus {
  border-color: #aaa;
  -webkit-box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
          box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

.select-css option {
  font-weight: normal;
}

select {
  width: 40%;
}

.featured {
  padding: 0 50px;
  background-color: rgba(255, 255, 255, 0.6);
}

.featured > * {
  padding: 20px 0;
}

.DJ {
  padding-top: 50px;
  background-image: url("../assets/header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  background-image: url("../assets/cc3.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about .featured {
  min-height: 100vh;
  padding: 100px;
}

.about p {
  padding: 20px 0;
}

.intro-image {
  width: 30%;
  margin: 0 auto;
}

.tools {
  padding: 10px 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 auto;
}

.gallery-image,
.gallery-item,
.gallery-text,
.liveLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.gallery-item {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  width: 300px;
  margin: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.gallery-item:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.gallery-item h3 {
  font-weight: bold;
}

.gallery-text p {
  font-size: 0.9rem;
}

.highlights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70%;
  padding: 50px 0;
}

.skills li {
  margin: 8px;
}

.skills i {
  font-size: 2.4rem;
  padding: 5px;
  margin: 10px;
}

.skills p {
  font-size: 0.75rem;
  text-align: center;
  text-transform: uppercase;
}

.casestudy .wrapper {
  background-color: rgba(255, 255, 255, 0.5);
  width: 70%;
  padding: 100px 50px;
}

.casestudy p,
.casestudy span,
.casestudy li {
  text-align: initial;
  padding: 10px 0;
  font-size: 1.5rem;
}

.casestudy li {
  list-style-type: decimal-leading-zero;
}

.casestudy a {
  text-decoration: underline;
}

.casestudy div {
  padding: 20px 0;
}

.casestudy h6 {
  font-size: 1.5rem;
  padding: 10px 0;
}

.casestudy h6,
.casestudy h3,
.casestudy span {
  font-weight: bold;
  text-transform: uppercase;
}

.shows {
  margin: 25px 0;
}

.featured p {
  text-align: initial;
}

.player i {
  font-size: 1rem;
}

@media (max-width: 880px) {
  header ul {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: right;
  }
  a::before {
    content: "";
    height: 0px;
  }
  .skills {
    width: 100%;
  }
  .skills i {
    font-size: 1.8rem;
  }
  .skills p {
    display: none;
  }
  .about .featured {
    padding: 50px;
  }
  .mobile video,
  .mobile img {
    display: none;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 3rem;
  }
  h3 {
    font-size: 1.65rem;
  }
  footer ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.blm {
  min-height: 80vh;
}

.blm ul {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blm li {
  padding: 10px;
}

.blm li:hover {
  font-weight: bold;
}
